<div class="table-wrapper">
  <table (mouseleave)="clearHighlight()">
    <!--     <caption>
      Generation 7 type effectiveness chart
    </caption> -->
    <thead>
      <tr>
        <th class="corner" scope="col"></th>
        @for (entry of currentTableData; track entry.id; let column = $index) {
          <th
            scope="col"
            [style.background-color]="entry.color"
            [style.box-shadow]="getHighlightBoxShadow(null, column)"
            (mouseenter)="highlightColumn(column)"
            (click)="togglePersistentColumn(column)"
          >
            {{ entry.abr }}
          </th>
        }
        <th
          class="derived-column"
          [class.is-hidden]="!derivedColumnShown()"
          scope="col"
          [style.background]="derivedColumnShown() ? getCombinedColumnBackground() : 'transparent'"
          (mouseenter)="clearHighlight()"
        >
          {{ getCombinedColumnLabel() }}
        </th>
      </tr>
    </thead>
    <tbody>
      @for (entry of currentTableData; track entry.id; let row = $index) {
        <tr>
          <th
            scope="row"
            [style.background-color]="entry.color"
            [style.box-shadow]="getHighlightBoxShadow(row, null)"
            (mouseenter)="highlightRow(row)"
            (click)="togglePersistentRow(row)"
          >
            {{ entry.abr }}
          </th>
          @for (effectiveness of entry.eff; track $index; let column = $index) {
            <td
              [style.background-color]="getCellBackgroundColor(effectiveness, row, column)"
              [style.color]="getCellTextColor(effectiveness, row, column)"
              [style.box-shadow]="getHighlightBoxShadow(row, column)"
              (mouseenter)="highlightCell(row, column)"
              (click)="togglePersistentCell(row, column)"
            >
              {{ getEffectivenessDisplay(effectiveness).displayText }}
            </td>
          }
          <td
            class="derived-column"
            [class.is-hidden]="!derivedColumnShown()"
            [style.background-color]="derivedColumnShown() ? getEffectivenessDisplay(getCombinedEffectiveness(entry)).backgroundColor : 'transparent'"
            [style.color]="derivedColumnShown() ? getEffectivenessDisplay(getCombinedEffectiveness(entry)).fontColor : 'transparent'"
            [style.box-shadow]="derivedColumnShown() ? getHighlightBoxShadow(row, null) : 'none'"
            (mouseenter)="highlightCombinedCell(row)"
            (click)="toggleCombinedRow(row)"
          >
            {{ getEffectivenessDisplay(getCombinedEffectiveness(entry)).displayText }}
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
